<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hero</title>
  </head>
  <body>
    <h1>Faction <%=hero.faction%></h1>
    <p>Classe de <%=hero.classe%></p>
    <img src="/assets/heroes/PIC_hero_artwork_<%=hero.faction%>_<%=hero.gender%>_<%=hero.classe%>_small.jpg" alt="">
  </body>
</html>
